@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: "Inter", serif;
		font-optical-sizing: auto;
		font-style: normal;

		@apply text-gray-900;
	}
}

@layer components {
	/* Buttons */
	.btn-primary {
		@apply md:text-xl font-bold;
		@apply md:px-8 px-4 py-2;
		@apply rounded-md;
		@apply bg-primary-300 text-secondary-500;
		@apply border-2 border-transparent;

		@apply transition-colors;
		@apply hover:bg-secondary-500 hover:text-primary-300 hover:border-primary-300;
	}
	.btn-secondary {
		@apply text-xl font-bold;
		@apply px-8 py-2;
		@apply rounded-md;
		@apply bg-secondary-500 text-primary-300;
		@apply border-2 border-transparent;

		@apply transition-colors;
		@apply hover:bg-primary-300 hover:text-secondary-500 hover:border-primary-300;
	}
	/* Other */
}

@layer utilities {
	.h-screen-wo-nav {
		height: calc(100vh - 91.2px);
	}
}
